*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
#top-navbar{
    padding: 10px 25px;
    background-color: rgb(5, 183, 183);
    color: #fff;
}
#top-navbar h6{
    font-size: 20px;
    text-transform: capitalize;
}
.icons{
    text-align: right;
    
}
.icons a{
    text-decoration: none;
    color: #fff;
}