*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* color  */
/* main color: #8D27AE
sub color: #f0cc2b; */


#topbar{
    padding: 10px 25px;
    background-color: #fff;
    color: #8D27AE;
}
#topbar h6{
    font-size: 22px;
    text-transform: capitalize;
}
.icons{
    text-align: right;
    color: #8D27AE;
}
.icons a{
    text-decoration: none;
    color: #8D27AE;
    font-weight: bold;
}
.icons a:hover {
    color: #f0cc2b;
}
.icons a i{
    font-size: 15px;
    margin: 0 6px;
}

@media only screen and (max-width: 575px) {
    #topbar, .icons{
        text-align: center;
        align-items: center;
        margin: auto;
    }
}
/* navbar */
#navbar{
    background-color: #8D27AE;
}
#logo{
    margin-left: 15px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
}
#logo span{
    color: #f0cc2b;
}
#logo #span1{
    font-size: 30px;
    margin-right: 5px;
}
.navbar-nav{
    margin-left: 20ps;
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: #fff;
    margin-left: 2px;
    text-shadow: 0px 0px 1px rgb(10, 10, 10);
}
.nav-item .nav-link:hover{
    color: #f0cc2b;
}
.dropdown-menu{
    background-color: #8D27AE;
}
.dropdown-menu li a{
    color: #fff;
    transition: 0.5s;
}
.dropdown-menu li a:hover{
    background-color: #f0cc2b;
    color: #171616;
}
#search input{
    border-radius: 50px;
    border: none;
    outline: none;
}
#search button{
    border-radius: 50px;
    color: #fff;
    border: 1px solid #f0cc2b;
}
#search button:hover{
    background-color: #f0cc2b;
    color: #171616;
}
/* Navbar  */

/* home  */
#home{
    align-items: center;
    justify-content: center;
    background-color: #a9a9a92b;
    z-index: 0;
}
#home .content{
   margin: auto;
}
#home .content h1{
    color: #8D27AE;
    font-weight: bold;
    margin-left: 25px;
    font-size: 60px;
    text-shadow:  -1px 1px 1x rgb(0, 0, 0);
}
#home .content h1 span{
    display: block;
    color: #8D27AE;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.content #span2{
    color: #f0cc2b !important;
    display: inline !important;
}
.content p{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 26px;
}
.content p, .btn{
    margin-left: 24px;
}
.btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #8D27AE;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn button:hover{
    background-color: #f0cc2b;
    color: rgb(0, 0, 0);
    border: none;
}

#home .img img{
    margin-top: 20px;
    width: 100%;
}

@media only screen and (max-width: 575px) {

    #home .content h1{
        font-size: 40px;
    }
}
@media only screen and (max-width: 992px) {

    #home .content h1{
        font-size: 45px;
    }
}
/* home  */